<!DOCTYPE html>
<head>
  <title>Angular!</title>
  <!-- Angular -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="jquery-2.1.1.min.js"></script>
  <script src="./todo.js"></script>
  <!-- Make your own stylesheet -->
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="bootstrap.min.js"></script>
  <link rel="stylesheet" href="./style.css">
</head>
<body ng-app="Todo">
  <div ng-controller="TodoCtrl">
    <h1>Todo List</h1>
    <ul id="list">
      <li ng-repeat="item in todoList" ng-if="!item.done">
        <span class="item" ng-class="{done: item.done, uncompleted: !item.done}">{{$index + 1}}: {{item.text}}</span>
        <span class="link" ng-click="toggleDone($index)" ng-hide="item.done">done!</span>
        <span class="link" ng-click="toggleDone($index)" ng-hide="!item.done">undo</span>
      </li>
    </ul>
    <form ng-submit="addItem()">
      <input class="textbox" type="text" ng-model="newItem.text">
      <input type="submit" value="Add item">
      <input type="button" value="Undo!" ng-click="undo()">
    </form>
  </div>
</body>
</html>
